# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Tom\uol Lincoln\OneDrive - University of Lincoln\Desktop\Gits\ML_2021_workshops\Week1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
